*{
	overflow: hidden;
	font-family: roboto;
}
body{
	background-color: #4158D0;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
}
div{
	height: 80%;
	width: 80%;
}
p{
	font-family: roboto;
	color: black;
	font-size: 25px;
	margin-bottom: 1px;	
}
.diapositiva{
	position: absolute;
	height: 90%;
	width: 90%;
	left: 5%;
	top: 5%;
	border-radius: 20px;
	box-shadow: 5px 5px 20px;
	transition: 1s;
}
h1{
	color: black;
	font-size: 70px;
	text-shadow: 5px 5px 10px black;
	transition: 0.5s;
}
h2{
	color: black;
	font-size: 30px;
	text-shadow: 2px 2px 5px black;
	transition: 0.5s;
}
#bg{
	background-image: url("bg.png");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	filter: blur(5px) brightness(90%);
	box-shadow: none;
	transition: 1s;
}
#mainTitle{
	text-transform: uppercase;
	background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #231557 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	background-clip: text;
	color: rgba(0,0,0,0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	font-size: 190px;
	text-shadow: none;
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
@keyframes bgHue {
	to{
		filter: hue-rotate(200deg);
	}
}
.hide{
	display: none;
}
.button{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 5%;
	top: 5%;
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: 0.2s;
	z-index: 5;

}
.button:hover{
	background-color: rgba(0,0,0,0.1);
	transition: 0.2s;
}
#next{
	float: right;
	right: 5%;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
#prev{
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	left: 5%;
}
img{
	width: 50%;
}
#next img{
	transform: rotate(180deg);
}
.inner{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top:0%;
	overflow: hidden;
	transition: 1s;
}
.inner p{
	margin-top: 20px;
}
.inner:not(:first-child) *{
	width: 86%;
	position: relative;
	right: 0%;
	left: 100%;
	transition: 0.5s;
}
#d1{
	display: flex;
	align-items: center;
	background-color: #DDDDDD;
	justify-content: center;
}
#d2{
	/*background-image: url("bg.png");
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
	left: 100%;
}
#d2 h1{
	position: relative;
	left: 100%;
}
#d2 *{
	color: black;
}
#d3{
	left: 100%;
}
#d3 h1{
	position: relative;
	left: 100%;
}
#d3 *{
	display: inline-block;
}
#d4{
	left: 100%;
}
.inner *{
}
#exemples{
	height: 65%;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
}
#exemples h1{
	font-size: 20px;
}
#goodgui, #badgui{
	border-radius: 20px;
	max-width: 35%;
}
